@import '../mixins/responsive';

body {

}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.inner-page-wrapper {
    color: #fff;
    font-size: 30px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    @include respond-to(custom, 540px) {
        font-size: 24px;
    }
}

.logo-svg {
    display: block;
    max-width: 200px;
    margin: 20px auto;
}

.logo-svg-group {
    fill: none;
    stroke-dasharray: 1440;
    stroke-dashoffset: 0;
    animation: 1s logo-animation ease-in forwards;
}

.intro {
    margin: 1em 0;
    position: relative;
}

.intro-text {
    @include respond-to(custom, 374px) {
        display: block;
    }
}

.list-of-goals {
    margin-left: 0.25em;

    &:after {
        content: '';
        border-bottom: 1px dashed #fff;
        width: 210px;
        position: absolute;
        bottom: 0;
        margin-left: -0.125em;
        @include respond-to(custom, 540px) {
            width: 180px;
        }
    }

    .goal {
        $time: 12s;
        $items: 5;
        position: absolute;
        opacity: 0;
        white-space: nowrap;
        animation: $time word-rotation infinite;

        @for $i from 1 through $items {
            &:nth-child(#{$i}) {
                animation-delay: ($time / $items) * ($i - 1)
            }
        }
    }
}

.form-wrapper {
    margin: 2em 0;
    font-size: 22px;
    position: relative;

    &.active {

        .flat-input {
            width: calc(100% - 115px);
        }

        .flat-button {
            transform: translate3d(0, 0, 0);
        }
    }

    .flat-input {
        transition: width 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .flat-button {
        position: absolute;
        right: 0;
        transform: translate3d(100%, 0, 0);
        transition: 0.2s transform cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .error-container {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        padding: 5px 15px;
        border-radius: 3px;
        bottom: 0;
        animation: error-tag 0.2s ease-in forwards;
    }
}

.signup-form {
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    &.animate-out {
        animation: animate-out 0.2s ease;
    }
}

.signup-label {
    display: block;
    margin: 0.5em 0;
}

@keyframes logo-animation {
    0% {
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        fill: rgba(255, 255, 255, 0.9);
    }
}

@keyframes background-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

@keyframes word-rotation {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    5% {
        opacity: 1;
        transform: translateY(0);
    }
    15% {
        opacity: 1;
        transform: translateY(0);
    }
    20% {
        opacity: 0;
        transform: translateY(5px);
    }
}

@keyframes error-tag {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    },
    to {
        opacity: 1;
        transform: translate3d(0, -42px, 0);
    }
}

@keyframes animate-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
