.flat-input {
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-radius: 0;
    font-family: monospace;
    padding: 6px 5px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
    color: #fff;
    outline: none;
    width: 100%;
    transition: border-bottom 0.5s ease;

    &:focus {
        border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.75);
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.8);
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(255, 255, 255, 0.8);
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: rgba(255, 255, 255, 0.8);
    }
}

.flat-button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 3px 10px;
    color: #fff;
    margin-left: 10px;
    outline: none;

    &:hover,
    &:active {
        background: rgba(255, 255, 255, 0.2);
    }
}

.form-group {
    display: flex;
    margin: 20px;
    align-items: center;
    position: relative;

    .error {
        position: absolute;
        bottom: -18px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        right: 0;
    }
}

.form-group--conditional {
    &.closed {
        display: none;
    }
}

.inline-label {
    min-width: 100px;
    text-align: right;
    margin-right: 10px;
}

