$border-bottom-input: 1px dashed rgba(255, 255, 255, 0.25);
$border-bottom-input-focus: 1px solid rgba(255, 255, 255, 0.75);
$border-bottom-transition: border-bottom 0.5s ease;

.flat-input {
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-radius: 0;
    font-family: inherit;
    padding: 6px 5px;
    border-bottom: $border-bottom-input;
    color: #fff;
    outline: none;
    width: 100%;
    transition: $border-bottom-transition;

    &:focus {
        border-bottom: $border-bottom-input-focus;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.75);
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.8);
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(255, 255, 255, 0.8);
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: rgba(255, 255, 255, 0.8);
    }
}

.flat-button {
    background: rgba(255, 255, 255, 0.05);
    border: none;
    padding: 8px 20px;
    color: #fff;
    margin-top: 10px;
    outline: none;

    &:hover,
    &:active {
        background: rgba(255, 255, 255, 0.1);
    }
}

.form-group {
    display: flex;
    margin: 20px 0;
    align-items: center;
    position: relative;

    @media (max-width: 48em) {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .error {
        position: absolute;
        bottom: -18px;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        right: 0;
    }

    &--label {
        flex-wrap: wrap;
    }

    &--conditional {
        &.closed {
            display: none;
        }
    }
}

.inline-label {
    min-width: 120px;
    text-align: right;
    margin-right: 10px;

    @media (max-width: 48em) {
        text-align: left;
    }
}

.radio-group-label {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.radio-group {
    margin: auto;

    @media (max-width: 48em) {
        margin: auto 0;
    }
}

.checkbox-label {
    position: relative;
    margin: 10px;

    input {
        opacity: 0;
        position: absolute;
    }

    .inner-label {
        position: relative;
        display: inline-block;
        padding-left: 40px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: $border-bottom-input;
            width: 30px;
            transition: $border-bottom-transition;
        }
    }

    input:focus ~ .inner-label {
        &:before {
            border-bottom: $border-bottom-input-focus;
        }
    }

    input:checked ~ .inner-label {
        &:after {
            content: '\2714';
            position: absolute;
            font-size: 12px;
            left: 12px;
            top: 2px;
        }
    }
}
