@font-face {
    font-family: 'razi';
    src: url('/fonts/razi-webfont.eot');
    src: url('/fonts/razi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/razi-webfont.woff2') format('woff2'),
         url('/fonts/razi-webfont.woff') format('woff'),
         url('/fonts/razi-webfont.ttf') format('truetype'),
         url('/fonts/razi-webfont.svg#razi') format('svg');
    font-weight: normal;
    font-style: normal;
};
