@import 'app/client/styles/structure/variables';

.main-nav {
    background-color: $black;
    color: $white;

    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    transform: translate3d(0, -100%, 0);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    z-index: $z-index-10;

    &.show-nav {
        transform: translate3d(0, 0, 0);
    }

    .nav-container {
        margin: auto;
        max-width: 800px;
        display: flex;
    }

    .nav-item {
        color: $white;
        font-size: 12px;
        line-height: 60px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        margin-left: 10px;

        &.active {
        }
    }

    .logo {
        height: 45px;
        width: 45px;
        margin-top: 5px;
        background: $white;
        border-radius: 50%;
    }

    .nav {
        margin: auto 10px auto auto;
    }
}

@keyframes(items-in) {
    from {
        transform: scale(0.9) translate3d(-40%, -40%, 0);
        opacity: 0;
    }

    to {
        transform: scale(1) translate3d(-50%, -50%, 0);
        opacity: 1;
    }
}
