.svg-container {
    // Fluid SVG hack courtesy of shitty browsers.
    display: block;
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 50%; // This gets updated with JS

    svg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.doohickey {
    transition: all 0.2s ease;
    transform-origin: 50% 50%;

    &.hide {
        opacity: 0;
    }
}

.champer {
    transform-origin: 50% 50%;
    -moz-transform-origin: 500px 437px;

    &.left-glass {
        animation: cheers-left 1.2s ease-out infinite alternate;
    }

    &.right-glass {
        animation: cheers-right 1.2s ease-out infinite alternate;
    }

}

.bling-line {
    animation: bling 5s linear infinite;
    opacity: 0;
    transform-origin: 0 0;

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: (0.25s * $i);
        }
    }
}

.wave {
    fill: none;
    stroke-dasharray: 50;
    animation: wavvy 1s linear alternate infinite;
    @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
            animation-delay: (0.05s * $i);
        }
    }
}

.wiggler {
    fill: none;
    stroke-dasharray: 50;
    transform: translate3d(-3px, 0, 0);
    animation: line-drawing 1s linear alternate infinite;
    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: (0.25s * $i);
        }
    }
}

#donut {
    -moz-transform-origin: 769px 213px; // Fucking Firefox
}

.boat {
    transform-origin: 50% 50%;
    -moz-transform-origin: 720px 62px;
    animation: boat-rocking 2s linear alternate infinite;
}

.toby {
    transform-origin: 342px 481px;
    transform: scale(0.5) translate3d(-80px, -73px, 0) rotate(-5deg);
    animation: toby-peek 10s cubic-bezier(0.18, 0.89, 0.33, 1.01) forwards infinite;
    opacity: 0;
}

@keyframes(toby-peek) {
    5% {
        opacity: 1;
        transform: scale(1) translate3d(-52px, -73px, 0) rotate(-5deg);
    }
    80% {
        opacity: 1;
        transform: scale(1) translate3d(-52px, -73px, 0) rotate(-5deg);
    }
    90% {
        opacity: 0;
        transform: scale(0.5) translate3d(-80px, -73px, 0) rotate(-5deg);
    }
}

@keyframes(boat-rocking) {
    0% {
        transform: rotate(10deg) translate3d(-8px, 0, 0);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg) translate3d(8px, 0, 0);
    }
}

@keyframes(wavvy) {
    to {
        stroke-dashoffset: 50;
        transform: translate3d(-8px, 2px, 0);
        opacity: 0;
    }
}

@keyframes(line-drawing) {
    to {
        stroke-dashoffset: 50;
        transform: translate3d(-3px, -3px, 0);
        opacity: 0;
    }
}

@keyframes(bling) {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
        transform: translate3d(0, -1px, 0);
    }
}


@keyframes(cheers-left) {
    0% {
        transform: rotateZ(-9deg);
    }

    100% {
        transform: rotateZ(7deg);
    }
}

@keyframes(cheers-right) {
    0% {
        transform: rotateZ(2deg);
    }

    100% {
        transform: rotateZ(-3deg);
    }
}
